.wrapper{
	overflow: hidden;
}
/*title*/
.title-block {
	padding-top: 20vh;
}
.btn-back{
	display: block;
	margin-bottom: 20px;
}
.projectDetail{
	margin-bottom: 5px;
}
.titleName{
	font-family: 'Helvetica';
	font-size: 20px;
}
.titleName-block{
	margin-bottom: 20px;
}
.content{
	margin-top: 250px;
}
.img{
	display: block;
}
.imgBox .img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.imgBox .imgBox-inner-title{
	width: 100%;
	padding-top: calc(100% * 553 / 660);
	position: relative;
}
@media (max-width: 768px){
	.imgBox .imgBox-inner-title{
		margin-top: 100px;
	}
	.content{
		margin-top: 20px;
	}
}
/*baskground*/
.imgBox .imgBox-inner-jp{
	width: 30%;
	padding-top: calc(30% * 269 / 38);
	position: relative;
	margin-top: 10px;
} 
.imgBox .imgBox-inner-img{
	width: 80%;
	padding-top: calc(80% * 762 / 1680);
	position: relative;
}
.badckground-block{
	margin-top: 20vh;
}
@media (max-width: 768px){
	.imgBox .imgBox-inner-jp{
		width: 50%;
		padding-top: calc(50% * 269 / 38);
	} 
}
/*RtD*/
.RtD-block{
	margin-top: 10vh;
}
.imgBox .imgBox-inner-RtD-process{
	width: 100%;
	padding-top: calc(100% * 58 / 760);
	position: relative;
}
.RtD-process{
	margin-top: 20px;
}
.imgBox .imgBox-inner-RtD{
	width: 60%;
	padding-top: calc(60% * 239 / 560);
	position: relative;
}
/*prototype*/
.imgBox .imgBox-inner-item-A{
	width: 90%;
	padding-top: calc(90% * 127 / 295);
	position: relative;
}
.imgBox .imgBox-inner-item-B{
	width: 90%;
	padding-top: calc(90% * 127 / 298);
	position: relative;
}
.imgBox .imgBox-inner-item-C{
	width: 90%;
	padding-top: calc(90% * 124 / 305);
	position: relative;
}
.imgBox .imgBox-inner-item-D{
	width: 90%;
	padding-top: calc(90% * 110 / 311);
	position: relative;
}
.imgBox .imgBox-inner-item-E{
	width: 90%;
	padding-top: calc(90% * 110 / 383);
	position: relative;
}
.prototype-block{
	margin-top: 10vh;
}
.prototype-line-inner{
	width: 90%;
	height: 1px;
	background-color: #225795;
	margin: 20px 0px;
}
@media (max-width: 768px){
	.imgBox .imgBox-inner-item-A{
		width: 50%;
		padding-top: calc(50% * 127 / 295);
	}
	.imgBox .imgBox-inner-item-B{
		width: 50%;
		padding-top: calc(50% * 127 / 298);
		position: relative;
	}
	.imgBox .imgBox-inner-item-C{
		width: 50%;
		padding-top: calc(50% * 124 / 305);
		position: relative;
	}
	.imgBox .imgBox-inner-item-D{
		width: 50%;
		padding-top: calc(50% * 110 / 311);
		position: relative;
	}
	.imgBox .imgBox-inner-item-E{
		width: 50%;
		padding-top: calc(50% * 110 / 383);
		position: relative;
	}
	.prototype-line-inner{
		display: none;
	}
}
/*conculsion*/
.imgBox .imgbox-inner-cul-img-A{
	width: 60%;
	padding-top: calc(60% * 260 / 252);
	position: relative;
	margin-top: 45px;
	display: b
}
.imgBox .imgbox-inner-cul-img-B{
	width: 60%;
	padding-top: calc(60% * 259 / 251);
	position: relative;
}
.imgBox .imgbox-inner-cul-img-C{
	width: 60%;
	padding-top: calc(60% * 259 / 251);
	position: relative;
}
.imgBox .imgbox-inner-cul-img-D{
	width: 60%;
	padding-top: calc(60% * 259 / 251);
	position: relative;
}
.imgBox .imgbox-inner-cul-img-E{
	width: 60%;
	padding-top: calc(60% * 255 / 248);
	position: relative;
}
.conculsion-block{
	margin-top: 20vh;
}
@media (max-width: 768px){
	.prototype-line-inner{
		display: none;
	}
	.imgBox .imgbox-inner-cul-img-A{
		width: 60%;
		padding-top: calc(60% * 260 / 252);
		position: relative;
	}
	.imgBox .imgbox-inner-cul-img-B{
		width: 60%;
		padding-top: calc(60% * 259 / 251);
		position: relative;
	}
	.imgBox .imgbox-inner-cul-img-C{
		width: 60%;
		padding-top: calc(60% * 259 / 251);
		position: relative;
	}
	.imgBox .imgbox-inner-cul-img-D{
		width: 60%;
		padding-top: calc(60% * 259 / 251);
		position: relative;
	}
	.imgBox .imgbox-inner-cul-img-E{
		width: 60%;
		padding-top: calc(60% * 255 / 248);
		position: relative;
	}
	.cul-item-block{
		margin-top: 20px;
	}
}
/*auther*/
.bg-block{
	margin-right: 50px;
	margin-bottom: 100px;
}
.persona-block{
	margin-top: 20vh;
}
.auther-text{
	color: #225795;
	margin:100px 0px;
	text-align: right;
	font-size: smaller;
}
.auther-block{
	margin: 30vh 0px;
}
.imgBox .imgBox-inner-btn-next{
	width: 100%;
	padding-top: calc(100% * 23 / 203);
	position: relative;
}
.imgBox .imgBox-inner-btn-previous{
	width: 80%;
	padding-top: calc(80% * 23 / 288);
	position: relative;
}
.imgBox .imgBox-inner-btn-previous .img:after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 25px;
	transition: all 0.5s;
	text-align: right;
}
.imgBox .imgBox-inner-btn-previous .img:hover:after{
	content: "Graphic Soical Network";
}
@media (max-width: 768px){
	.imgBox .imgBox-inner-btn-next{
		width: 80%;
		padding-top: calc(80% * 23 / 213);
	}
	.imgBox .imgBox-inner-btn-previous{
		width: 80%;
		padding-top: calc(80% * 23 / 288);
		position: relative;
	}
}
/*footer*/
.bgContainer{
	background-color: #225795;
}
.contact{
	padding: 30px 0px;
}
.contact-list{
	float: right;
	margin-right: 30px;
}
.copyright{
	float: left;
	margin-top: 45px;
}
.cpoyright-text{
	color: #fff;
}
.phone{
	color: #fff;
}
.mail{
	color: #fff;
}
.text-contact{
	font-size: 18px;
	color: #fff;
	margin: 5px 0px;
	font-weight: 900;
	font-family: 'IBM Plex Mono'
}