.wrapper{
	overflow: hidden;
}
/*title*/
.title-block {
	padding-top: 20vh;
}
.btn-back{
	display: block;
	margin-bottom: 20px;
}
.projectDetail{
	margin-bottom: 5px;
}
.titleName{
	font-family: 'Helvetica';
	font-size: 20px;
}
.content{
	margin-top: 280px;
}
.img{
	display: block;
}
.imgBox .img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.imgBox .imgBox-inner-title{
	width: 100%;
	padding-top: calc(100% * 553 / 660);
	position: relative;
}
@media (max-width: 768px){
	.imgBox .imgBox-inner-title{
		margin-top: 100px;
	}
	.content{
		margin-top: 20px;
	}
}
/*background*/
.background-block{
	margin-top: 10vh;
}
.imgBox .imgBox-inner-background{
	width: 100%;
	padding-top: calc(100% * 168 / 568);
	position: relative;
}
.row-title .imgBox{
	margin-top: 20px;
}
/*process*/
.process-block{
	margin-top: 10vh;
}
.imgBox .imgBox-inner-process{
	width: 100%;
	padding-top: calc(100% * 118 / 807);
	position: relative;
	margin-top: 20px;
}
/*user*/
.user-block{
	margin-top: 10vh;
}

.imgBox .imgBox-inner-eventNote-1{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.imgBox .imgBox-inner-eventNote-2{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.imgBox .imgBox-inner-knowledgeNot-1{
	width: 100%;
	padding-top: calc(100% * 360 / 362);
	position: relative;
}
.imgBox .imgBox-inner-knowledgeNot-2{
	width: 100%;
	padding-top: calc(100% * 360 / 362);
	position: relative;
}
.imgBox .imgBox-inner-knowledgeNot-3{
	width: 100%;
	padding-top: calc(100% * 360 / 362);
	position: relative;
}
.user-title{
	margin:30px 0px;
}
/*persona*/
.imgBox .imgBox-inner-persona{
	width: 100%;
	padding-top: calc(100% * 283 / 280);
	position: relative;
}
.imgBox .imgBox-inner-type{
	width: 100%;
	padding-top: calc(100% * 133 / 200);
	position: relative;
}
.type-title{
	margin: 10px 0px;
}
.persona-line{
	width: 100%;
	height: 1px;
	margin: 20px 0px;
	display: block;
}
.person-line-inner{
	background-color: #225795;
	height: 1px;
	width: 70%;
}
@media (max-width: 768px){
	 .person-line-inner{
		background-color: #225795;
		height: 1px;
		width: 100%;
	}
}
/*concept*/
.concept-block{
	margin-top: 20vh;
}
.imgBox .imgBox-inner-concept-one{
	width: 100%;
	padding-top: calc(100% * 218 / 459);
	position: relative;
}
.imgBox .imgBox-inner-concept-two{
	width: 100%;
	padding-top: calc(100% * 191 / 380);
	position: relative;
}
.concept-img-block-two{
	margin: 50px 0px;
	border: 1px solid #225795;
	padding: 20px 30px;
}
@media (max-width: 768px){
	 .imgBox-inner-concept-one{
	 	margin-top: 20px;
	 }
	 .concept-img-block-two{
		margin: 50px 0px;
		border: 1px solid #225795;
		padding: 10px 10px;
	}
}
/*design*/
.imgBox .imgBox-inner-design-first{
	width: 80%;
	padding-top: calc(80% * 150 / 298);
	position: relative;
	margin: 20px 0px;
}
.imgBox .imgBox-inner-design-second{
	width: 80%;
	padding-top: calc(80% * 165 / 303);
	position: relative;
	margin: 15px 0px;
}
.imgBox .imgBox-inner-design-thrid{
	width: 70%;
	padding-top: calc(70% * 176 / 260);
	position: relative;
	margin: 5px 0px;
}

/*auther*/
.bg-block{
	margin-right: 50px;
	margin-bottom: 100px;
}
.persona-block{
	margin-top: 20vh;
}
.auther-text{
	color: #225795;
	margin:15px 0px;
	text-align: right;
	font-size: smaller;
}
.auther-block{
	margin: 30vh 0px;
}
.imgBox .imgBox-inner-btn-next{
	width: 100%;
	padding-top: calc(100% * 23 / 203);
	position: relative;
}
.imgBox .imgBox-inner-btn-previous{
	width: 80%;
	padding-top: calc(80% * 23 / 268);
	position: relative;
}
@media (max-width: 768px){
	.imgBox .imgBox-inner-btn-next{
		width: 80%;
		padding-top: calc(80% * 23 / 203);
	}
}
/*footer*/
.bgContainer{
	background-color: #225795;
}
.contact{
	padding: 30px 0px;
}
.contact-list{
	float: right;
	margin-right: 30px;
}
.copyright{
	float: left;
	margin-top: 45px;
}
.cpoyright-text{
	color: #fff;
}
.phone{
	color: #fff;
}
.mail{
	color: #fff;
}
.text-contact{
	font-size: 18px;
	color: #fff;
	margin: 5px 0px;
	font-weight: 900;
	font-family: 'IBM Plex Mono'
}